
#automotores{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.lista-automotores{
    width: 20vw;
    margin:10px;
    border-radius: 20px;
}   
.img-cart{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.img-cart:hover{
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
#tit-auto{
    margin-left: 10px;
}
.add-cart{
    background: linear-gradient(0.2turn, #a8a5037e, #16b900);
    color: white;
    border-radius: 10px;
    border-style: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.add-cart:hover{
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.mas-menos{
    border-radius: 10px;
    border-style: none;
}
#gestion-user{
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    border-style: none;
    display: flex;
}
#url-cart{
    text-decoration: none;
    display: flex;
}
#cart{
    display: flex;
    align-items: flex-end;
}
#pcantidad{
    background: white;
    border-radius: 120px;
    margin: 0px;
    height: 18px;
    width: 20px;
    text-align: center;
}
#open-user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-btn{
    background: linear-gradient(0.5turn, #0000007e, #0012b9);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: solid;
    border-radius: 60px;
    margin-top: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    margin-right: 10px;
}
.login-btn:hover{
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#btn1{
    margin-top: 0px;
}
/* Globales */
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #ffffff;
}

.icon-cart:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #ffffff;
    color: #000000;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    color: #000;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}

.payment-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}


/* Main */
.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty {
    padding: 20px;
    text-align: center;
    color: #000;
}


.hidden {
    display: none;
}

/*boton iniciar sesion*/


.advertisement-section {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.ad-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

